<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'conflict.css' | asset_url }}">

<main x-data="routine" class=" rounded-2xl mx-2 ssm:mx-4  sm:mx-6 ">
  <!-- Header -->

  <section x-cloak x-transition x-show="isLoading" class="flex flex-col justify-center items-center min-h-screen">
    <h1>Loading...</h1>
  </section>

  <section x-cloak x-transition x-show="!isLoading">
    {% render 'routine_header' %}

    <!-- Reminders -->
    {% render 'routine_reminders' %}
  </section>

  {% render 'product_reminder_modal' %}
  {% render 'activity_reminder_modal' %}

  <!-- Add To Cart Products -->
  {% render 'routine_addToCart' %}

  <!-- Reminder Channels -->
  {% render 'routine_reminder_channels' %}

  <!-- Start Date -->
  {% render 'routine_start-schedule' %}
  {% render 'routine_start_modal' %}
</main>

<script src="{{ 'routine.js' | asset_url }}" defer></script>

<script src="{{ 'focus.min.js' | asset_url }}" defer></script>
<script src="{{ 'alpine.min.js' | asset_url }}" defer></script>

<!-- Alpine Plugins -->
{% comment %} <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script> {% endcomment %}
{% comment %}  {% endcomment %}
<!-- Alpine Core -->
{% comment %} <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> {% endcomment %}

{% schema %}
{
  "name": "Routine",
  "target": "section"
}
{% endschema %}
