<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'conflict.css' | asset_url }}">

{% comment %}
  <script>
    {% if customer %}
      console.log("Customer ID:", {{ customer.id }});
      localStorage.setItem('customer', '{{ customer.id }}');
    {% else %}
     localStorage.setItem('customer', '');
    {% endif %}
  </script>
{% endcomment %}

<section x-data="routineList">
  <!-- Search -->
  {% render 'routine_list_search' %}

  <!-- Categories -->
  {% render 'routine_list_categories' %}

  <!-- All Routines -->

  <section x-show="isLoading" class="flex flex-col justify-center items-center min-h-[60vh]">
    <h1>Loading...</h1>
  </section>

  <section x-show="!isLoading">
    {% render 'all_routines' %}
  </section>

  <div x-show="routines.length > columnCount" x-cloak class="text-right">
    <button
      x-text="visibleRoutines.length >= routines.length ? 'Show Less' : 'Show More'"
      @click="visibleRoutines.length >= routines.length ? showLess() : showMore()"
      class="text-primaryGreen font-[500] text-[13px] my-6 md:my-8 mr-[20px] md:mr-[40px]"
    ></button>
  </div>

  <div
    class="mt-[100px]"
  ></div>
</section>

<script src="{{ 'alpine.min.js' | asset_url }}" defer></script>

<!-- Alpine Plugins -->
{% comment %}
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

  <!-- Alpine Core -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endcomment %}

{% schema %}
{
  "name": "Routine List",
  "target": "section",
  "javascript": "routine-list.js"
}
{% endschema %}
