{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'conflict.css' | asset_url | stylesheet_tag }}

{% comment %}
  <script type="module">
     export function isTokenExpired(token) {
      const arrayToken = token.split('.');
      const tokenPayload = JSON.parse(atob(arrayToken[1]));
      console.log({ tokenPayload });
      return Math.floor(new Date().getTime() / 1000) >= tokenPayload?.sub;
    }
    const token ='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Nzc5MDMzNTgyMDAyOSwiaWF0IjoxNzMyMDQ4NjY3LCJleHAiOjE3NjM2MDYyNjd9.DIJmmUM6Kxh234VUKjGXq7SewOZSXS3QL_jEUPmYFw0';
    console.log("Token : ",isTokenExpired(token));

      {% if customer %}
        console.log("Customer ID:", {{ customer.id }});

        localStorage.setItem('customer', '{{ customer.id }}');

      {% else %}
        console.log("Customer ID: Not Logged In");
       localStorage.setItem('customer', '');
      {% endif %}
  </script>
{% endcomment %}

<main
  class="slide-in-bottom"
>
  <div class="bg-primaryGreen py-[13px] mb-[15px]  sm:mb-[40px]">
    <h1
      class="text-center text-white text-[20px] "
    >
      Routines
    </h1>
  </div>

  {% render 'routine_list_skeleton' %}

  <section x-data="routineList">
    <section>
      {% render 'all_routines' %}
    </section>

    <div x-show="routines.length > columnCount" x-cloak class="text-right">
      <button
        x-text="visibleRoutines.length >= routines.length ? 'Show Less' : 'Show More'"
        @click="visibleRoutines.length >= routines.length ? showLess() : showMore()"
        class="text-primaryGreen font-[500] text-[13px] my-6 md:my-8 mr-[20px] md:mr-[40px]"
      ></button>
    </div>

    <div
      class="mt-[300px]"
    ></div>
  </section>
</main>

<script src="{{ 'routine-list.js' | asset_url }}" defer></script>
<script src="{{ 'alpine.min.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Routine List",
  "target": "section"
}
{% endschema %}
