<style>
  .custom-grid-gap {
    gap: 20px;
  }
</style>

<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'conflict.css' | asset_url }}">

<section class="" x-data="userRoutineList">
  <div x-cloak x-show="!isRoutinesLoading && routines?.length === 0">
    {% render 'no_routines' %}
  </div>

  <div  x-cloak x-show="" >
    {% render 'user_today_reminders' %}
    {% render 'user_routines' %}
    {% render 'mark_complete_modal' %}
    {% render 'reminder_completed_modal' %}
  </div>
</section>

<script src="{{ 'user-routines-list.js' | asset_url }}" defer></script>
{% comment %}
  <script src="{{ 'focus.js' | asset_url }}" defer></script>
  <script src="{{ 'alpine.js' | asset_url }}" defer></script>
{% endcomment %}
<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

<!-- Alpine Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% schema %}
{
  "name": "User Routines List",
  "target": "section"
}
{% endschema %}
