<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'conflict.css' | asset_url }}">

<main
  x-data="userRoutine"
>
  <section
    class="slide-in-bottom"
  >
    <!-- Skeleton -->
    {% render 'routine_header_skeleton' %}

    <section
      x-show="!isLoading"
      x-transition.duration.300ms
      x-cloak
    >
      <!-- Header -->

      {% render 'user_routine_header' %}
    </section>

    <!-- Reminder Summary -->

    {% render 'reminder_summary' %}
  </section>
  {% render 'mark_complete_modal' %}

  <div
    class="mt-[200px]"
  ></div>
</main>

<script src="{{ 'user-routine.js' | asset_url }}" defer></script>
<script src="{{ 'focus.min.js' | asset_url }}" defer></script>
<script src="{{ 'alpine.min.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "User Routine",
  "target": "section"
}
{% endschema %}
