<link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
  rel="stylesheet"
>

<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'conflict.css' | asset_url }}">

{% render 'routine_nav' %}

<main x-data="routine" class=" rounded-2xl mx-28">
  <!-- Header -->

  {% render 'routine_header' %}

  <!-- Footers -->
  <section class="mx-10">
    <!-- Reminders & Benfits -->
    {% render 'routine_reminders' %}

    <!-- Add To Cart Products -->
    {% render 'routine_addToCart' %}
    {% render 'cart_modal' %}

    <!-- Reminder Channels -->
    {% render 'routine_reminder_channels' %}

    <!-- Start Date -->
    {% render 'routine_start-schedule' %}

    <!-- Buttons -->
    <div class="text-center text-[13px] mt-[6px]" x-show="tab === 2 && selectedProducts.length > 0">
      <button @click="addToCart()" class="mt-10 text-[#3A643B]">Add To Cart</button>
    </div>

    <div class="my-10 flex gap-8 justify-center">
      <button
        :disabled="tab === 1"
        @click="changeTab(tab-1)"
        class="px-10 py-3 rounded-lg border border-[#3A643B] text-[#3A643B] text-[16px]"
      >
        Back
      </button>

      <button
        @click="changeTab(tab+1)"
        :disabled="tab === 4"
        class="px-6 py-3 rounded-lg bg-[#3A643B] text-white text-[16px] shadow-lg"
      >
        Get Started
      </button>
    </div>
  </section>
</main>

<script>
  const productImageUrl = "{{ 'product.svg' | asset_url }}";
  const reminderCalendarUrl = "{{ 'reminder-calendar.svg' | asset_url }}";
  const reminderClockUrl = "{{ 'reminder-clock.svg' | asset_url }}";
</script>

<script src="{{ 'routine.js' | asset_url }}" defer="defer"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js" defer="defer"></script>

{% schema %}
{
  "name": "Routine",
  "target": "section"
}
{% endschema %}
