<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'conflict.css' | asset_url }}">

<main x-data="routine" class=" rounded-2xl mx-2 ssm:mx-4  sm:mx-6 ">
  <!-- Header -->

  {% render 'routine_header' %}

  <!-- Reminders -->
  {% render 'routine_reminders' %}
  {% render 'product_reminder_modal' %}
  {% render 'activity_reminder_modal' %}

  <!-- Add To Cart Products -->
  {% render 'routine_addToCart' %}

  <!-- Reminder Channels -->
  {% render 'routine_reminder_channels' %}

  <!-- Start Date -->
  {% render 'routine_start-schedule' %}
  {% render 'routine_start_modal' %}

  <!-- Buttons -->

  <div class="mt-[80px] mb-[60px] text-center flex flex-col gap-[18px]">
    <button
      @click="addToCart([])"
      x-show="selectedProducts.length > 0"
      x-cloak
      class="text-primaryGreen font-[500] "
    >
      Add to Cart
    </button>
    <div class="flex gap-8 justify-center">
      <button
        x-show="tab > 1"
        @click="changeTab(tab-1)"
        class="px-10 py-3 rounded-lg border border-[#3A643B] text-[#3A643B] text-[16px]"
      >
        Back
      </button>

      <button
        @click="tab < 3 ? changeTab(tab + 1) : startRoutine()"
        x-text="tab < 3 ? 'Next' : 'Start Routine'"
        class="px-14 py-3 rounded-lg bg-[#3A643B] text-white text-[16px] shadow-lg"
      ></button>
    </div>
  </div>
</main>

<script src="{{ 'routine.js' | asset_url }}" defer></script>
{% comment %}
  <script src="{{ 'focus.js' | asset_url }}" defer></script>
  <script src="{{ 'alpine.js' | asset_url }}" defer></script>
{% endcomment %}

<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

<!-- Alpine Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% schema %}
{
  "name": "Routine",
  "target": "section"
}
{% endschema %}
